
<body style="background-color: #E5D4C0">

<p>
  <form action="/studios/new">
    <p><button type="submit" class="btn btn-default" id="addyourstudio">Add your studio</button></p>
  </form>


      <li class="dropdown">
        <button type="submit" class="btn btn-default" style="margin-left: 15px" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort by <span class="caret"></span> </button>
        <ul class="dropdown-menu">
          <li><a href="#">Flow</a></li>
          <li><a href="#">Vinyasa</a></li>
          <li><a href="#">Astanga</a></li>
          <li><a href="#">Power Yoga</a></li>
          <li><a href="#">Yin</a></li>
          <li><a href="#">Barre</a></li>
          <li><a href="#">Hot Yoga</a></li>
          <li><a href="#">Beginner</a></li>
          <li><a href="#">Pilates</a></li>
          <li><a href="#">Workshops</a></li>
          <li><a href="#">Meditation</a></li>

        </ul>
      </li>
    </ul>
  </p>



  

<div id="commentssection" class="col-md-6 text-left">
<p id="yogaheader" style="text-align: inherit">All yoga studios:</p>

<% @studios.each do |studio| %>
  <p id="studioname"><%= studio.name %></p>
  <p>
    <form method="get" action="/studios/<%= studio.id %>">
      <% if logged_in? %><button class="btn btn-default" type="submit">More information</button><% end %>
    </form>
  </p>
  <p><%= studio.address %></p>
  <p id="body"><%= studio.body %></p>
  <p><a href="<%= studio.website_url %>" target="_blank">Website</a></p>
  <p><img src="<%= studio.image_url %> " id="studioimages"></p>
  <p style="border-bottom: 1px dashed black">

<% end %>
  </div>


  <div id="commentssection2" class="col-md-6 text-left">

  </div>

</body>
