<body style="background-color: #E5D4C0">


<div id="studiodetailinfo" class="col-sm-12">

  <div id="yogastudioinfo" class="col-sm-6">



    <div class="col-md-6">
      <p class="headers"><%= @studios.name %>
      <% if logged_in? && @like.nil? %> <form action="/like/<%= @studios.id %>" method="post"><button class="btn btn-default">Add to favourites</button></p></form><% end %>

      <p><img width="500px" style="border: 1px solid black" src="<%= @studios.image_url %>"/></p>
      <p style="font-weight: bold"><%= @studios.address %></p>
      <p><a href="<%= @studios.website_url %>" target="_blank">Website</a></p>


          <% if logged_in? %>
          <form>
            <span class="starRating" style="padding-bottom: 10px">
            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="rating" value="3">
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="rating" value="2">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1">1</label>
          </span>
          </form>
          <% end %>


      <p style="width: 500px; text-align: justify; font-size: 1em"><%= @studios.body %></p>
    </div>
</div>
</div>


<% if logged_in? %>
<div id="commentssection" class="col-sm-6 col-sm-offset-6 text-left">
<h4 class="text-left">Comments:</h4>
  <% @comments.each do |comment| %>
  <p id="commentbox" class="comment-box-text-align"><b><%= comment.user.username %>: </b><%= comment.body %></p>
  <% end %>


  <form action="/studios/<%= @studios.id %>/comments" method="post">
  <textarea name="body" style="width: 100%; height: 100px"></textarea>


  <input type="hidden" name="studio_id" value="<%= @studios.id %>">
  <p><button type="submit" class="text-center btn btn-default">Submit</button></p>
  </form>

  <% else %>
  <div id="commentssection" class="col-sm-6 col-sm-offset-6 text-left">
  <p class="text-left">Access the comment section by creating an account:</p>
  <p><form method="get" action="/signup">
    <p class="logintext">Not a member yet? Create an account:</p>
    <button class="btn btn-default" type="submit">Sign up</button>
    </form>
  </p>
  <% end %>

</div>
</div>
</div>
</div>
